node_modules
.env
.DS_Store
uploads
database
!extensions/
!extensions/directus-extension-dreamui-icon-field/
!extensions/directus-extension-dreamui-icon-field/package.json
!extensions/directus-extension-dreamui-icon-field/package-lock.json
!extensions/directus-extension-dreamui-icon-field/README.md
!extensions/directus-extension-dreamui-icon-field/src/
!extensions/directus-extension-dreamui-icon-field/src/index.ts
!extensions/directus-extension-dreamui-icon-field/src/interface.vue
!extensions/directus-extension-dreamui-icon-field/src/shims.d.ts
!extensions/directus-extension-dreamui-icon-field/dist/
!extensions/directus-extension-dreamui-icon-field/dist/index.js
!extensions/directus-extension-dreamui-button-field/
!extensions/directus-extension-dreamui-button-field/package.json
!extensions/directus-extension-dreamui-button-field/package-lock.json
!extensions/directus-extension-dreamui-button-field/README.md
!extensions/directus-extension-dreamui-button-field/src/
!extensions/directus-extension-dreamui-button-field/src/index.ts
!extensions/directus-extension-dreamui-button-field/src/interface.vue
!extensions/directus-extension-dreamui-button-field/src/shims.d.ts
!extensions/directus-extension-dreamui-button-field/dist/
!extensions/directus-extension-dreamui-button-field/dist/index.js
extensions/directus-extension-dreamui-icon-field/node_modules
extensions/directus-extension-dreamui-button-field/node_modules
directus-temp
